__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/
instance/
.webassets-cache
.pytest_cache/
*.db
*.sqlite
*.sqlite3
app/static/uploads/*
!app/static/uploads/.gitkeep
migrations/versions/*.py
!migrations/versions/.gitkeep
*.log
instance/
